div .form-box .textInput {
    width: 100%;
    height: 45px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #f6f6f6;
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 600;
    color: #333333;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-left: 10px;
}

div .form-box .textInputError {
    width: 100%;
    height: 45px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #f6303f;
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 600;
    color: #333333;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-left: 10px;
}

div .form-box .textInput:focus{
    outline:none;
    border-color:#05549f;
    box-shadow:0 0 10px #05549f;
}

div .form-box .textInputError:focus{
    outline:none;
    border-color:#f6303f;
    box-shadow:0 0 10px #f6303f;
}

input::-webkit-input-placeholder {
    color: #dddddd;
}

input:focus::-webkit-input-placeholder {
    color: #dddddd;
}

/* Firefox < 19 */
input:-moz-placeholder {
    color: #dddddd;
}
input:focus:-moz-placeholder {
    color: #dddddd;
}

/* Firefox > 19 */
input::-moz-placeholder {
    color: #dddddd;
}
input:focus::-moz-placeholder {
    color: #dddddd;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: #dddddd;
}
input:focus:-ms-input-placeholder {
    color: #dddddd;
}